<!--
    BCS2243 WEB ENGINEERING [HOT]
    Student ID: CB20033
    Student Name: AHMAD ZHAFRAN FARUQI BIN ZAINAL ABIDIN
    Section: 02B
    Lecturer name: DR. NOORLIN MOHD ALI
-->

<!DOCTYPE html>

<head>
	<title>About Merit</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Zhafran">
	<meta name="description" content="Answer HOT Semester II 2022/2023">
	<link rel="stylesheet" type="text/css" href="../Styles/merit.css">
</head>

<body>

	<div class="header">
		<a href="https://www.ump.edu.my/en">
			<div class="bannerimg" style="height:150px;"></div>
		</a>
	</div>

	<div class="navbar_mid">
		<a href="../index.html">UMP MERIT</a>
	</div>

	<div class="row">
		<div class="main">

			<h2>UMP STUDENT MERIT</h2>

			<p>
				Universiti Malaysia Pahang (UMP) manages the students' performance in extracurricular activity through a
				merit-based system in a yearly basis.
			</p>

			<p>
				The accumulated student merit scores will indicate the student eligibility for in-campus accommodation
				and accommodation in University Village (DHUAM).
			</p>
			<br>

		</div>
	</div>

	<div class="footer">
		<div class="navbar_footer">
			<b>Copyright &copy 2023 Official Portal - Universiti Malaysia Pahang &#x2022 All rights reserved.</b>
		</div>
	</div>

</body>

</html>