<!--
    BCS2243 WEB ENGINEERING [HOT]
    Student ID: CB20033
    Student Name: AHMAD ZHAFRAN FARUQI BIN ZAINAL ABIDIN
    Section: 02B
    Lecturer name: DR. NOORLIN MOHD ALI
-->

<!DOCTYPE html>
<html lang="en">

<head>
	<title>UMP Campus Election</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Zhafran">
	<meta name="description" content="Answer HOT Semester I 2022/2023">
	<link rel="stylesheet" type="text/css" href="../Styles/election.css">
</head>

<body>

	<div class="header">
		<div class="bannerimg"></div>
	</div>

	<div class="navbar_mid">
		<a href="../index.html">HOME</a>
		<a href="candidate_hakimie.html" class="active">CANDIDATE</a>
	</div>

	<div class="row">
		<div class="main">

			<h2>CANDIDATE</h2>

			<p><b>AHMAD ZHAFRAN FARUQI BIN ZAINAL ABIDIN</b></p>
			<br>

			<div class="container1">
				<div class="row">

					<div class="candidateimg" style="content: url('../Assets/candidate_zhafran.png');">Zhafran</div>

					<div class="row">
						<p>Motto: Mahasiswa Dinamis</p>
					</div>

				</div>
			</div>

		</div>
	</div>

	<footer>
		<h4>Copyright 2022; All Rights Reserved.</h4>
	</footer>

</body>

</html>