a:link {
    color: blue;
}

a:visited {
    color: red;
}

input[type=number]:placeholder-shown {
    background-color: bizque;
}

input:enabled {
    background-color: white;
}

input:disabled {
    background-color: coral;
}

* {
    color: black;
}

:not(label) {
    color: brown;
}

label:hover {
    background-color: lightgray;
}

input[type=submit]:active {
    background-color: lightblue;
}

input:focus {
    background-color: lightyellow;
}