<!--
    BCS2243 WEB ENGINEERING [HOT]
    Student ID: CB20033
    Student Name: AHMAD ZHAFRAN FARUQI BIN ZAINAL ABIDIN
    Section: 02B
    Lecturer name: DR. NOORLIN MOHD ALI
-->

<!DOCTYPE html>
<html>

<head>
    <title>Gold Recommendation</title>
    <link rel="stylesheet" href="../styles/goldrec.css">
    <script src="../functions/goldrec.js"></script>
</head>

<body>

    <div class="header">

        <h2>GOLD RECOMMENDATION</h2>
        <p><b>GOLD BAR (GB) 999.9</b></p>

        <div class="datetime">
            <p>SUGGESTED GOLD BAR TO PURCHASE</p>
        </div>

    </div>

    <section>

        <br>

        <table>

            <tr class="table_header2">
                <th></th>
                <th></th>
            </tr>

            <tr>
                <th>Amount of Capital</th>
                <td><input type="text" id="capitalOutput" placeholder="Amount of RM" disabled></td>
            </tr>

            <tr class="table_header1">
                <th>GOLD BAR (GB) WEIGHT (GRAM)</th>
                <th>QUANTITY</th>
            </tr>

            <tr>
                <th>GB 999.99 (1gm)</th>
                <td><input type="text" id="quantity1" placeholder="Price in RM" disabled></td>
            </tr>

            <tr>
                <th>GB 999.99 (5gm)</th>
                <td><input type="text" id="quantity5" placeholder="Price in RM" disabled></td>
            </tr>

            <tr>
                <th>GB 999.99 (10gm)</th>
                <td><input type="text" id="quantity10" placeholder="Price in RM" disabled></td>
            </tr>

            <tr>
                <th>GB 999.99 (20gm)</th>
                <td><input type="text" id="quantity20" placeholder="Price in RM" disabled></td>
            </tr>

            <tr class="table_header2">
                <th></th>
                <th></th>
            </tr>

            <tr>
                <th>Balance</th>
                <td><input type="text" id="balance" placeholder="Amount of RM" disabled></td>
            </tr>

        </table>
        <br>

    </section>

    <footer>

        <div class="nav_footer">

            <a href="../index.html">Home &nbsp;&nbsp;|</a>
            <a href="#">Privacy &nbsp;&nbsp;|</a>
            <a href="#">Site Map &nbsp;&nbsp;|</a>
            <a href="#">Links</a>

            <div class="nav_footer-right">
                <a href="#">Copyright 2022; All Rights Reserved.</a>
            </div>

        </div>

    </footer>

</body>

</html>